body {
  font-family: monospace;
  height: 100vh;
  width: 100%;
}

.header  {
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  gap: 8px;
}

ul li {
  display: inline;
  margin: 5px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links {
  padding: 15px;
}

.right-links {
  padding: 15px;
}